<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Adminpanel</title>
    <link rel="stylesheet" th:href="@{styles/style-for-all.css}"/>
    <style>
        table, th, td {
            border:1px solid black;
        }
        th,td {
            padding: 5px 10px;
        }
    </style>

</head>
<body>

<div class="navigationBar">

    <a class="returnButton" th:href="@{/main}">< Powrót</a>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logoutButton">Wyloguj się</button>
    </form>

</div>

<a th:href="@{/main}">< Powrót</a>
<a th:href="@{/adminpanel/add-drugstore}">Dodaj aptekę</a>
<a th:href="@{/adminpanel/add-employee}">Dodaj pracusia</a>

<div class="content">
    <h1>Lista aptek:</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Adres</th>
            <th>Miasto</th>
        </tr>
        <tr th:each="drugstore: ${drugstoreList}">
            <td th:text="${drugstore.getId}"></td>
            <td th:text="${drugstore.getAddress}"></td>
            <td th:text="${drugstore.getCity}"></td>
            <td>
                <form th:action="@{/adminpanel/delete}" method="post">
                    <input type="hidden" name="id" th:value="${drugstore.getId}"/>
                    <button type="submit">Usuń</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<div class="stupka">
    <p>eckson888 / kacper dega / zouuek</p>
</div>
</body>
</html>