<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Panel Administratorski</title>
    <link rel="stylesheet" th:href="@{styles/style-for-all.css}"/>
    <link rel="stylesheet" th:href="@{styles/adminpanel-style.css}"/>
    <script th:src="@{js/adminpanel.js}"></script>
</head>
<body>

<div class="navigationBar">

    <a class="returnButton" th:href="@{/main}">< Powrót</a>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logoutButton">Wyloguj się</button>
    </form>

</div>

<!--TODO: ZROBIC TO NA NAVBARZE-->
<a th:href="@{/main}">< Powrót</a>
<a th:href="@{/adminpanel/add-drugstore}">Dodaj aptekę</a>
<a th:href="@{/adminpanel/add-employee}">Dodaj pracusia</a>

<div class="content">
    <h1>Lista aptek:</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Adres</th>
            <th>Miasto</th>
            <th>Usuń</th>
            <th>Pracownicy</th>
        </tr>
        <tr th:each="drugstore: ${drugstoreList}">
            <td th:text="${drugstore.getId}"></td>
            <td th:text="${drugstore.getAddress}"></td>
            <td th:text="${drugstore.getCity}"></td>
            <td>
                <form th:action="@{/adminpanel/delete}" method="post">
                    <input type="hidden" name="id" th:value="${drugstore.getId}"/>
                    <button type="submit" class="deleteButton">❌</button>
                </form>
            </td>
            <td>
                <button class="employeesButton" th:onclick="getEmployees([[${drugstore.id}]])">👤</button>
            </td>
        </tr>
    </table>

    <div id="employees" class="employeesDiv">
        <table id="employeeTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Drugstore ID</th>
                <th>Roles</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


</div>

<div class="stupka">
    <p>eckson888 / kacper dega / zouuek</p>
</div>

</body>
</html>