<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Podsumowanie</title>
    <base href="/">
    <link rel="stylesheet" th:href="@{styles/style-for-all.css}"/>
    <link rel="stylesheet" th:href="@{styles/cart-style.css}"/>
</head>
<body>

<div class="navigationBar_">
    <div class="returnButtonDiv">
    <a class="returnButton" th:href="@{/drugstore-inventory}">Powrót</a>
    </div>
    <div class="confirmButtonDiv">
    <form th:action="@{/drugstore-inventory/cart/sell}" method="get">
        <button type="submit" class="confirmButton">Zatwierdź</button>
    </form>
    </div>
    <div class="sumTextDiv">
    <p th:text="'Należność: ' + ${cartPrice} + ' zł'" class="sumText"></p>
    </div>
    <div class="logoutButtonDiv">
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logoutButton">Wyloguj się</button>
    </form>
    </div>


</div>





<div th:if="${cart.items.isEmpty()}">
    <p>Koszyk jest pusty.</p>
</div>
<div th:unless="${cart.items.isEmpty()}">
    <table>
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Common Nazwa</th>
            <th>Substancja aktywna</th>
            <th>Postać</th>
            <th>Cena</th>
            <th>Ilość</th>
            <th> </th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cart.items}">
            <td th:text="${item.drugstoreItem.getDrugName}"></td>
            <td th:text="${item.drugstoreItem.getDrugCommonName}"></td>
            <td th:text="${item.drugstoreItem.getDrugActiveSubstance}"></td>
            <td th:text="${item.drugstoreItem.getDrugPharmaceuticalForm}"></td>
            <td th:text="${item.drugstoreItem.getPrice} + ' zł'"></td>
            <td th:text="${item.getQuantity}"></td>
            <!--            TODO tom stronke jakos zeby miala sens-->
            <td>
<!--                <form th:action="@{/drugstore-inventory/cart/remove/{drugstoreItemId}(drugstoreItemId=${item.drugstoreItem.id})}" method="get">-->
<!--                    <button type="submit">Usuń</button>-->
<!--                </form>-->
                <span>
                    <a th:href="@{/drugstore-inventory/cart/remove/{drugstoreItemId}(drugstoreItemId=${item.drugstoreItem.id})}">
                    <img src="https://cdn-icons-png.flaticon.com/512/3161/3161358.png" class="trashImage">
                    </a>
                </span>
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>