<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stan Apteki</title>
    <base href="/">
    <link rel="stylesheet" th:href="@{styles/drugstore-inv-style.css}"/>
    <link rel="stylesheet" th:href="@{styles/style-for-all.css}"/>
</head>
<body>

<div class="navigationBar_">

    <div class="navigationThird">

        <a class="logo">Stan magazynowy</a>

        <a class="returnButton" th:href="@{/main}">Powrót</a>

        <a class="addDrugButton" th:href="@{/drugstore-inventory/add}">Dodaj Lek</a>

        <a class="sellButton" th:href="@{/drugstore-inventory/cart}">Sprzedaj</a>
    </div>

    <form method="get" th:action="@{/drugstore-inventory/search}" class="searchForm_">
        <input name="keyword" placeholder="Szukaj..." th:value="${keyword}" type="text" class="searchInput">
        <span>
        <button type="submit" class="searchButton">🔎︎</button>
        </span>
    </form>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logoutButton">Wyloguj się</button>
    </form>

</div>



<div class="content">


    <table>
        <tbody>
        <tr class="headerRow">
            <th>Nazwa</th>
            <th>Common Nazwa</th>
            <th>Substancja aktywna</th>
            <th>Postać</th>
            <th>Cena</th>
            <th>Ilość</th>
            <th>Dodaj do zamówienia</th>
        </tr>
        <tr th:each="drugstoreItem: ${drugstoreInventory}" class="contentRow">
            <td th:text="${drugstoreItem.getDrugName}"></td>
            <td th:text="${drugstoreItem.getDrugCommonName}"></td>
            <td th:text="${drugstoreItem.getDrugActiveSubstance}"></td>
            <td th:text="${drugstoreItem.getDrugPharmaceuticalForm}"></td>
            <td th:text="${drugstoreItem.getPrice} + ' zł'"></td>
            <td th:text="${drugstoreItem.getQuantity}"></td>
            <td>
                  <span>
                    <a th:href="@{/drugstore-inventory/buy/{itemId}/1(itemId=${drugstoreItem.getId})}">
                    <img src="https://www.iconpacks.net/icons/2/free-add-to-cart-icon-3046-thumb.png" style="height: 100%; width: 50%; padding-right:5px; padding-top: 5px;">
                    </a>
                  </span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <a th:if="${currentPage > 0}" style="color: black; font-size:15px; text-decoration:none; margin-right:20px;"
           th:href="${isSearch} ?
                @{/drugstore-inventory/search(keyword=${keyword}, page=${currentPage - 1})} :
                @{/drugstore-inventory(page=${currentPage - 1})}">
            < Poprzednia
        </a>

        <span th:text="'Strona ' + (${currentPage + 1}) + ' z ' + ${totalPages}"></span>



        <a th:if="${currentPage < totalPages - 1}" style="color: black; font-size: 15px; text-decoration:none; margin-left:20px"
           th:href="${isSearch} ?
                @{/drugstore-inventory/search(keyword=${keyword}, page=${currentPage + 1})} :
                @{/drugstore-inventory(page=${currentPage + 1})}">
            Następna >
        </a>
    </div>
</div>
</body>
</html>