<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dodaj aptekę</title>
    <base href="/">
    <link rel="stylesheet" th:href="@{styles/style-for-all.css}"/>
</head>
<body>
<a th:href="@{/adminpanel}">< Powrót</a>
<div>
    <form method="post">
        <div>
            <label for="address">Address</label>
            <input type="text" placeholder="Address" th:field="*{drugstore.address}" id="address">
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" placeholder="City" th:field="*{drugstore.city}" id="city">
        </div>
        <button type="submit" style="margin:5px">Add</button>
    </form>
</div>
</body>
</html>