<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <title>Add drug</title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <form method="post">-->
<!--        <div>-->
<!--            <label for="name">Name</label>-->
<!--            <input type="text" placeholder="Name" th:field="*{drugstoreitem.drug.name}" id="name">-->
<!--        </div>-->
<!--&lt;!&ndash;        <div>&ndash;&gt;-->
<!--&lt;!&ndash;            <label for="city">City</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" placeholder="City" th:field="*{drugstore.city}" id="city">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <button type="submit" style="margin:5px">Add</button>&ndash;&gt;-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->