<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        table, th, td {
            border:1px solid black;
        }
        th,td {
            padding: 5px 10px;
        }
    </style>
    <title>Drugs</title>
</head>
<body>
<!--<a th:href="@{/drugstores/add}">Dodaj aptekę</a>-->
<h1>Lista leków:</h1>
<table>
    <tr>
        <th>nazwa</th>
<!--        <th>Adres</th>-->
<!--        <th>Miasto</th>-->
    </tr>
    <tr th:each="drugstoreitem: ${drugitemList}">
        <td th:text="${drugstoreitem.getName}"></td>
<!--        <td th:text="${drugstore.getAddress}"></td>-->
<!--        <td th:text="${drugstore.getCity}"></td>-->
<!--        <td>-->
<!--&lt;!&ndash;            <form th:action="@{/drugstores/delete}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="hidden" name="id" th:value="${drugstore.getId}"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <button type="submit">Usuń</button>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--        </td>-->
    </tr>
</table>
</body>
</html>