<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        table, th, td {
            border:1px solid black;
        }
        th,td {
            padding: 5px 10px;
        }
    </style>
    <title>Drugstores</title>
</head>
<body>
<a th:href="@{/main}">Powrót</a>
<a th:href="@{/drugstores/add}">Dodaj aptekę</a>
<a th:href="@{/drugstores/add-employee}">Dodaj pracusia</a>
<h1>Lista aptek:</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Adres</th>
        <th>Miasto</th>
    </tr>
    <tr th:each="drugstore: ${drugstoreList}">
        <td th:text="${drugstore.getId}"></td>
        <td th:text="${drugstore.getAddress}"></td>
        <td th:text="${drugstore.getCity}"></td>
        <td>
            <form th:action="@{/drugstores/delete}" method="post">
                <input type="hidden" name="id" th:value="${drugstore.getId}"/>
                <button type="submit">Usuń</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>