<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stan Apteki</title>
    <base href="/">
    <link rel="stylesheet" th:href="@{styles/style-for-all.css}"/>
</head>
<style>

    table, th, td {
        border:1px solid black;
    }
    th,td {
        padding: 5px 10px;
    }
</style>
<body>

<div class="navigationBar">

    <a class="returnButton" th:href="@{/main}">Powrót</a>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logoutButton">Wyloguj się</button>
    </form>
    <p  class="employeeInfo" th:text="${employeeInfo}"></p>

</div>

<a th:href="@{/drugstore-inventory/add}">Dodaj Lek</a>
<a th:href="@{/drugstore-inventory/cart}">Sprzedaj</a>

<div>
    <h2>Stan magazynowy w aptece: </h2>

    <form method="get" th:action="@{/drugstore-inventory/search}" >
        <input name="keyword" placeholder="Szukaj..." th:value="${keyword}" type="text" class="searchInput">
        <button type="submit" class="searchButton">Search</button>
    </form>

    <table>
        <tr>
            <th>Nazwa</th>
            <th>Common Nazwa</th>
            <th>Substancja aktywna</th>
            <th>Postać</th>
            <th>Cena</th>
            <th>Ilość</th>
            <th>Dodaj do zamówienia</th>
        </tr>
        <tr th:each="drugstoreItem: ${drugstoreInventory}">
            <td th:text="${drugstoreItem.getDrugName}"></td>
            <td th:text="${drugstoreItem.getDrugCommonName}"></td>
            <td th:text="${drugstoreItem.getDrugActiveSubstance}"></td>
            <td th:text="${drugstoreItem.getDrugPharmaceuticalForm}"></td>
            <td th:text="${drugstoreItem.getPrice} + ' zł'"></td>
            <td th:text="${drugstoreItem.getQuantity}"></td>
            <td>
                <a th:href="@{/drugstore-inventory/buy/{itemId}/1(itemId=${drugstoreItem.getId})}">Add to cart </a>
            </td>
        </tr>
    </table>
    <div>
        <span th:text="'Page ' + (${currentPage + 1}) + ' of ' + ${totalPages}"></span>

        <a th:if="${currentPage > 0}"
           th:href="${isSearch} ?
                @{/drugstore-inventory/search(keyword=${keyword}, page=${currentPage - 1})} :
                @{/drugstore-inventory(page=${currentPage - 1})}">
            Previous
        </a>

        <a th:if="${currentPage < totalPages - 1}"
           th:href="${isSearch} ?
                @{/drugstore-inventory/search(keyword=${keyword}, page=${currentPage + 1})} :
                @{/drugstore-inventory(page=${currentPage + 1})}">
            Next
        </a>
    </div>
</div>
</body>
</html>