<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add drugstore</title>
    <style>
        .modal {
    display: none;
    position: fixed;
    top: 10%;
    left: 35%;
    width: 60%;
    height: 60%;
    background-color: transparent;
    padding-top: 50px;
    margin: auto;
    z-index: 1;
}


.modal-content {
    background-color: #212121;
    margin: 5% auto 15% auto;
    animation: fadeBackground 0.3s;
    animation-fill-mode: forwards;

}
       .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
    </style>
</head>
<body>
<form method="get" th:action="@{/drugstore-inventory/add/search}" >
    <input name="keyword" placeholder="Szukaj..." th:value="${keyword}" type="text" class="searchInput">
    <button type="submit" class="searchButton">Search</button>
</form>
<table>
<tr th:each="drug : ${drugs}" class="itemRow">
    <td th:text="${drug.getName}"></td>
    <td th:text="${drug.getCommonName}"></td>
    <td th:text="${drug.getPharmaceuticalForm}"></td>
    <td th:text="${drug.getActiveSubstance}"></td>
    <td>
        <button onclick="document.getElementById('id01').style.display='block'" th:action=@{/drugstore-inventory/add/search/{id}(id=${drug.id})}" class="addButton">Dodaj</button>

        <div id="id01" class="modal">
            <form class="modal-content" method="post">

                <div class="container">
                    <h1>Dodaaawanie :D</h1>
                    <div class="clearfix">


                        <button type="button" id="cancel" onclick="document.getElementById('id01').style.display='none'">Powrót</button>
                        <form method="post">
                            <input type="text" th:name="id" th:value="${drug.getId}"/>
                        <div>
                            <label for="quantity">Quantity</label>
                            <input type="text" placeholder="Quantity" th:field="*{drugstoreItem.quantity}" id="quantity">
                        </div>
                            <div>
                                <label for="Price">Price</label>
                                <input type="text" placeholder="Price" th:field="*{drugstoreItem.price}" id="price">
                            </div>
                        <button type="submit">Dodaj</button>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </td>
</tr>
</table>












<!--<div>-->
<!--    <form method="post">-->
<!--        <div>-->
<!--            <label for="searchInput">Enter a name,active substance or whatever</label>-->
<!--            <input type="text" placeholder="keyword" id="searchInput">-->
<!--            <input type="text" placeholder="forma farmaceutyczna" id="searchInput2">-->
<!--        </div>-->
<!--        <div id="searchResults"></div>-->
<!--        <div>-->
<!--            <label for="common_name">Common Name</label>-->
<!--            <input type="text" placeholder="Common name"  id="common_name">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="active_substance">Active Substance</label>-->
<!--            <input type="text" placeholder="Active Substance" id="active_substance">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="pharmaceutical_form">Pharmaceutical Form</label>-->
<!--            <input type="text" placeholder="pharmaceutical_form"  id="pharmaceutical_form">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="quantity">Quantity</label>-->
<!--            <input type="number" placeholder="Quantity" th:field="*{drugstoreItem.quantity}" id="quantity">-->
<!--        </div>-->
<!--        <button type="submit" style="margin:5px">Add</button>-->
<!--    </form>-->
<!--</div>-->
</body>

<!--<script>-->
<!--    document.getElementById('searchInput').addEventListener('input', function ()-->
<!--    {-->
<!--        const keyword = this.value;-->
<!--        if (keyword.length >= 3)-->
<!--        {-->
<!--            fetch(`/drugstore-inventory/search?keyword=${encodeURIComponent(keyword)}`)-->
<!--                .then(response => response.json())-->
<!--                .then(data => {-->
<!--                const searchResultsDiv = document.getElementById('searchResults');-->
<!--                searchResultsDiv.innerHTML = '';-->

<!--                if (data && data.length)-->
<!--                {-->
<!--                    data.forEach(drug => {-->
<!--                        const drugItem = document.createElement('div');-->
<!--                        drugItem.textContent = drug;-->
<!--                        searchResultsDiv.appendChild(drugItem);-->
<!--                    });-->
<!--                } else {-->
<!--                    searchResultsDiv.textContent = 'No results found';-->
<!--                }-->
<!--            })-->
<!--                .catch(error => {console.error('Error fetching search results:', error);});-->
<!--        }-->
<!--    });-->
<!--</script>-->
</html>