<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <link rel="stylesheet" th:href="@{styles/style-for-all.css}"/>
</head>
<body>
    <h2>JEŚLI TO CZYTASZ, JUŻ JEST ZA PÓŹNO</h2>

    <h3 th:text="${minDate}"></h3>
    <input type="date" th:min="${minDate}" th:max="${#dates.format(#dates.createNow() , 'yyyy-MM-dd')}">
    <button onclick="reloadLogs()">ZAŁADUJ LOGI</button>

    <div id="logsContainer">
    <p th:each="eventLog: ${allLogs}" th:text="${eventLog.toString()}"></p>
    </div>

    <img th:src="@{/img/zlewozmywakfake.png}">
</body>
<script>
//    TODO: ZROBIC WCZYTYWANIE LOGOW NA PODSTAWIE DATY, EWENTUALNIE POZNIEJ SPROBOWAC DODAC POBIERANIE LOGOW JAKO TXT
    function reloadLogs(){

    }
</script>
</html>