<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <link rel="stylesheet" th:href="@{styles/style-for-all.css}"/>
    <link rel="stylesheet" th:href="@{styles/event-log-style.css}"/>
</head>
<body onload="javascript:reloadLogs()">

<div class="navigationBar" style="justify-content:space-between">

    <a class="returnButton" th:href="@{/main}">◀ Powrót</a>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logoutButton">Wyloguj się</button>
    </form>

</div>

<h2>JEŚLI TO CZYTASZ, JUŻ JEST ZA PÓŹNO</h2>

<h3 th:text="${minDate}"></h3>

<th:block th:with="today=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
    <input type="date" id="datePicker" th:min="${minDate}" th:max="${today}" th:value="${today}">
    <button onclick="reloadLogs()">ZAŁADUJ LOGI</button>
    </th:block>

        <div id="logsContainer">
        </div>

        <img th:src="@{/img/zlewozmywakfake.png}">
</body>
<script>
    function reloadLogs(){
        const date = document.getElementById("datePicker").value;

        let logsContainer = document.getElementById("logsContainer");

        let link = "http://localhost:8080/logs/" + date;

        fetch(link)
            .then(res => res.json())
            .then((resArray) => {
            if (Array.isArray(resArray))
            {
                logsContainer.innerHTML = "";

                logsContainer.innerHTML += `<a href="/logs/download/csv/${date}">Pobierz jako CSV</a><br>`;
                logsContainer.innerHTML += `<a href="/logs/download/txt/${date}">Pobierz jako TXT</a><br>`;
                resArray.forEach(addLogFromArray);

                if(resArray.length == 0)  logsContainer.innerHTML = "NO LOGS AT " + date;
            } else {
                logsContainer.innerHTMl = "<p>INVALID RESPONSE</p>";
            }
        })
            .catch(err => {
            logsContainer.innerHTMl = "<p>ERROR</p>";
            console.error("Error fetching data: ", err);
        });
    }

    function addLogFromArray(text){
        let tagText = "<p>"+text+"</p>"
        document.getElementById("logsContainer").innerHTML += tagText;
    }
</script>
</html>