<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Historia Sprzedaży</title>
    <link rel="stylesheet" th:href="@{styles/style-for-all.css}"/>
    <link rel="stylesheet" th:href="@{styles/event-log-style.css}"/>
    <script th:src="@{js/eventlogs.js}"></script>
</head>
<body onload="javascript:reloadLogs()">

<div class="navigationBar" style="justify-content:space-between">
    <a class="returnButton" th:href="@{/main}">< Powrót</a>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logoutButton">Wyloguj się</button>
    </form>
</div>
<!---->

<div class="content">

    <div class="datePickerContainer">
        <th:block th:with="today=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
            <input type="date" id="datePicker" th:min="${minDate}" th:max="${today}" th:value="${today}">
            <button onclick="reloadLogs()">ZAŁADUJ LOGI</button>
        </th:block>
    </div>


<!--    TODO: POBIERANIE LOGÓW TYLKO DLA ADMINA??-->
    <div id="logsContainer">
    </div>

</div>

<div class="stupka">
    <p>eckson888 / kacper dega / zouuek</p>
</div>

</body>

</html>