<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stan Apteki</title>
</head>
<style>

    table, th, td {
        border:1px solid black;
    }
    th,td {
        padding: 5px 10px;
    }
</style>
<body>

<a th:href="@{/main}">Powrót</a>

<form method="get" th:action="@{/global-inventory/search}" >
    <input name="keyword" placeholder="Szukaj..." th:value="${keyword}" type="text" class="searchInput">
    <button type="submit" class="searchButton">Search</button>
</form>

<div>
    <h2>Stan magazynowy w aptekach: </h2>
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Common Nazwa</th>
            <th>Substancja aktywna</th>
            <th>Postać</th>
            <th>Cena</th>
            <th>Ilość</th>
            <th>Adres apteki</th>
        </tr>
        <!-- TUTAJ DODAC KOLEJNEGO FOR EACH ZEBY JESZCZE WSZYSTKIE DRUGSTORY BRALO PO KOLEI, PARAMETR W KONTROLERZE JUZ WSTAWIONY - "allDrugstores" -->
        <!-- STUPID ASS PO CO ODDZIELNIE PODAWAĆ DO MODELU DRUGSTORY I OGÓLNE INVENTORY JAK MOZNA Z KAZDEGO DRUGSTORA SB BRAC INVENTORY
             PO DRUGIE ZAGNIEZDZONE PETLE NIE ISTNIEJA TRZEBA SIE DOKOPYWAC DO OTCHLANI STACKA ZEBY ZNALEZC INFO O JAKIMS TH:BLOCK-->
<!--        <th:block th:each="drugstore: ${allDrugstores}">-->
            <tr th:each="drugstoreItem: ${allDrugstoreItems}">
                <td th:text="${drugstoreItem.getDrugName}"></td>
                <td th:text="${drugstoreItem.getDrugCommonName}"></td>
                <td th:text="${drugstoreItem.getDrugActiveSubstance}"></td>
                <td th:text="${drugstoreItem.getDrugPharmaceuticalForm}"></td>
                <td th:text="${drugstoreItem.getPrice} + ' zł'"></td>
                <td th:text="${drugstoreItem.getQuantity}"></td>
                <td th:text="${drugstoreItem.getDrugstore.getAddress + ', ' + drugstoreItem.getDrugstore.getCity}"></td>
            </tr>
<!--        </th:block>-->
    </table>
</div>
</body>
</html>


