<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stan Apteki</title>
    <base href="/">
    <link rel="stylesheet" th:href="@{styles/style-for-all.css}"/>
    <link rel="stylesheet" th:href="@{styles/global-inv-style.css}"/>
    <script th:src="@{js/maps.js}"></script>
</head>

<body>

<div class="navigationBar">

    <a class="returnButton" th:href="@{/main}">◀ Powrót</a>

    <form method="get" th:action="@{/global-inventory/search}" class="searchForm">
        <input name="keyword" placeholder="Szukaj w innych aptekach..." th:value="${keyword}" type="text" class="searchInput">
        <button type="submit" class="searchButton">🔎︎</button>
    </form>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logoutButton">Wyloguj się</button>
    </form>

</div>

<div class="content">
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Nazwa powszechna</th>
            <th>Substancja aktywna</th>
            <th>Postać</th>
            <th>Info</th>
        </tr>
        <tr th:each="drugstoreItem: ${allDrugstoreItems}" id="row-${drugstoreItem.id}">
            <td th:text="${drugstoreItem.getDrugName}"></td>
            <td th:text="${drugstoreItem.getDrugCommonName}"></td>
            <td th:text="${drugstoreItem.getDrugActiveSubstance}"></td>
            <td th:text="${drugstoreItem.getDrugPharmaceuticalForm}"></td>
            <td>
                <button th:onclick="closestDrugstore([[${drugstoreItem.id}]], [[${currentAddress}]])" class="infoButton"> 🛈 </button>
            </td>
        </tr>
    </table>
    <!--      TODO wyrownac ta jebana tabelke zeby kazda komurka byla ruwna -->
    <div class="paging">
        <a th:if="${currentPage > 0}" style="color: black; font-size:15px; text-decoration:none; margin-right:20px;"
           th:href="${isSearch} ?
                @{/global-inventory/search(keyword=${keyword}, page=${currentPage - 1})} :
                @{/global-inventory(page=${currentPage - 1})}">
            < Poprzednia
        </a>

        <span th:text="'Strona ' + (${currentPage + 1}) + ' z ' + ${totalPages}"></span>



        <a th:if="${currentPage < totalPages - 1}" style="color: black; text-decoration:none; margin-left:20px"
           th:href="${isSearch} ?
                @{/global-inventory/search(keyword=${keyword}, page=${currentPage + 1})} :
                @{/global-inventory(page=${currentPage + 1})}">
            Następna >
        </a>
    </div>
</div>

<div id="overlay" class="overlay" style="display: none;">
    <div id="map" class="overlay-content">
        <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnW4YZA6T-0rsG1ZzAvK6lvSn10QaC-WI&callback=initMap&v=weekly"
                defer
        ></script>
    </div>
    <div class="overlay-content">
        <span class="close-button" onclick="closeOverlay()">×</span>
        <p class="modalInfo"><span id="overlayClosestDrugstore"></span></p>
        <p class="modalInfo"><span id="overlayCheapestDrugstore"></span></p>
    </div>
</div>

<div class="stupka">
    <p>eckson888 / kacper dega / zouuek</p>
</div>


</body>

<script th:inline="javascript">
    function closestDrugstore(drugstoreItemId, currentDrugstoreAddress)
    {
        console.log(drugstoreItemId);

        const overlay = document.getElementById('overlay');
        const closestField = document.getElementById('overlayClosestDrugstore');
        const cheapestField = document.getElementById('overlayCheapestDrugstore');
        const mapDiv = document.getElementById('map');

        let link = "http://localhost:8080/global-inventory/closest-drugstore/" + drugstoreItemId;

        deleteMarkers();
        closestField.textContent = "";
        cheapestField.textContent = "";

        fetch(link)
            .then(res => res.json())
            .then((resArray) => {
            if (Array.isArray(resArray))
            {
                closestField.textContent = "Najblizsza apteka: " + resArray[0];
                cheapestField.textContent = "Najtansza apteka: " + resArray[1];
                setHomeMarker(currentDrugstoreAddress);
                codeAddress(resArray[0]);
                codeAddress(resArray[1]);
            } else {
                closestField.textContent = "Invalid response";
                cheapestField.textContent = "Invalid response";
            }
        })
            .catch(err => {
            closestField.textContent = "ERROR";
            cheapestField.textContent = "ERROR";
            console.error("Error fetching data: ", err);
        });

        overlay.style.display = "flex";

    }

    function closeOverlay() {
        const overlay = document.getElementById('overlay');
        overlay.style.display = "none";
        deleteMarkers(); // Optionally reset the map
    }
</script>
</html>


