<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stan Apteki</title>
</head>
<style>

    table, th, td {
        border:1px solid black;
    }
    th,td {
        padding: 5px 10px;
    }
</style>
<body>

<a th:href="@{/main}">Powrót</a>

<form method="get" th:action="@{/global-inventory/search}" >
    <input name="keyword" placeholder="Szukaj..." th:value="${keyword}" type="text" class="searchInput">
    <button type="submit" class="searchButton">Search</button>
</form>

<div>
    <h2>Stan magazynowy w aptekach: </h2>
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Common Nazwa</th>
            <th>Substancja aktywna</th>
            <th>Postać</th>
            <th>Cena</th>
            <th>Ilość</th>
            <th>Akcje</th>
        </tr>
            <tr th:each="drugstoreItem: ${allDrugstoreItems}">
                <td th:text="${drugstoreItem.getDrugName}"></td>
                <td th:text="${drugstoreItem.getDrugCommonName}"></td>
                <td th:text="${drugstoreItem.getDrugActiveSubstance}"></td>
                <td th:text="${drugstoreItem.getDrugPharmaceuticalForm}"></td>
                <td th:text="${drugstoreItem.getPrice} + ' zł'"></td>
                <td th:text="${drugstoreItem.getQuantity}"></td>
                <td>
                    <form th:action="@{global-inventory/closest-drugstore/{id}(id=${drugstoreItem.id})}" method="get">
                        <button class="editButton">Pokaz najblizsza apteke</button>
                    </form>
                </td>
            </tr>
    </table>
    <h3>Najblizsza apteka:  <span th:text="${closestDrugstore}"></span></h3>
</div>
</body>
</html>


