<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:method="http://www.w3.org/1999/xhtml">
<head>
    <title>Wybierz Apteke</title>
    <base href="/">
    <link rel="stylesheet" th:href="@{styles/style-for-all.css}"/>
    <link rel="stylesheet" th:href="@{styles/login-drugstore-style.css}"/>

</head>
<body>
<!--<div class="navigationBar">-->
<!--    <a class="returnButton" th:href="@{/login}">Powrót</a>-->
<!--</div>-->

<div class="drugstoreLoginContent">
    <form th:action="@{/login/drugstore}" method="post" class="loginPanel">
        <h1 class="loginHeader">Wybierz apteke</h1>
        <div class="loginDiv">
            <input type="number" class="drugstoreInput" id="drugstore_id" name="drugstore_id" placeholder="ID Apteki"
                   required/>
        </div>
        <div class="loginDiv">
            <a th:href="@{/logout}" style="text-decoration:none"><button type="button">Powrót</button></a>

            <button type="submit" class="loginButton">Dalej</button>
        </div>
        <div th:if="${errorMessage}" th:text="${errorMessage}" class="msg"></div>
        <div th:if="${logoutMessage}" th:text="${logoutMessage}" class="msg"></div>
        <div th:if="${message}" th:text="${message}" class="msg"></div>
    </form>
</div>

</body>
</html>