<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <link rel="stylesheet" th:href="@{styles/style-for-all.css}"/>
    <link rel="stylesheet" th:href="@{styles/main-style.css}"/>
    <link rel="shortcut icon" type="image/png" th:href="@{img/favicon.png}"/>
    <title>System Apteczny 9000</title>
</head>
<body>
<div class="navigationBar">

    <img src="img/napis-logo.png" class="textLogo">

    <div class="employeeInfo">
        <img src="img/user.png" class="infoIcon">
        <p  class="employeeText" th:text="${employeeName}"></p>
    </div>

    <div class="employeeInfo">
        <img src="img/drugstore_icon.png" class="infoIcon">
        <p class="employeeText" th:text="${employeeDrugstore}"></p>
    </div>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logoutButton">Wyloguj się</button>
    </form>

</div>

<div class="content">
    <a class="mainHref" href="/drugstore-inventory">
        <img src="" class="mainImage">
        <span class="overlayText">Stan Apteki</span>
    </a>
    <a class="mainHref" href="/global-inventory/0/10">
        <img src="" class="mainImage">
        <span class="overlayText">Stan innych Aptek</span>
    </a>
    <a class="mainHref" href="/logs">
        <img src="" class="mainImage">
        <span class="overlayText">Historia Sprzedaży</span>
    </a>
</div>

<div class="nuta" style="display:none;">
    <iframe width="0%" height="0" allow="autoplay" style="display:none;"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1905128156&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

</div>

<div class="stupka">
    <p>eckson888 / kacper dega / zouuek</p>
</div>

</body>
</html>