.hiddenRow {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visibleRow {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.searchInput{
    width: 500px;
    height: 40px;
    border-radius: 15px 0px 0px 15px;
    background-color: #318686;
    border: 2px solid black;
    font-size: 20px;
    padding-left: 20px;
    color: black;
    font-family: monospace;
}
.searchInput::placeholder{
    color: #90b0b0;
}
.searchInput:focus-visible{
    outline: 0.5px solid #134040;
    background-color: #4c9392;
    transition-duration: 0.2s;
}
.searchButton{
    margin-left: -10px;
    font-size: 25px;
    cursor: pointer;
    height: 44.5px;
    width: 60px;
    padding-bottom: 14.5px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 0px 15px 15px 0px;
    transition-duration: 0.4s;
    background-color: #318686;
    text-align: center;
}

table, td, tr{
    background-color: #ecedf0;
    text-align:center;
    padding:5px;
    border:solid 1px black;
    border-collapse: collapse;
    border-spacing:0px;
}

table{
    width: 90%;
    height: auto;
    margin-top: 33px;
}

th {
    background-color: #71a3a3;
}

td{
    white-space: nowrap;
    padding:5px;
    overflow:auto;
    max-width:100px;
    height:40px;
    text-overflow: clip clip;
}

tr:hover td{
    background-color: #cdced1  !important;
}

td::-webkit-scrollbar {
    height: 9px;
    background-color:transparent;
}

td::-webkit-scrollbar-corner,
td::-webkit-scrollbar-track {
    background-color: transparent;
}

td::-webkit-scrollbar-thumb {
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 10px;
}

td::-webkit-scrollbar-thumb:hover {
    background-color: rgb(112, 112, 112);
    transition: 0.5s;
}

td::-webkit-scrollbar-thumb:active {
    background-color: rgb(128, 128, 128);
} /*
    TODO zrobić żeby jak sie najedzie na dany row tabeli to sie wtedy od razu wyswietlają te scrollbary !
*/




table td:nth-child(7){
    width: 50px;
}
table td:nth-child(6){
    width: 50px;
}
table td:nth-child(5){
    width: 80px;
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.cartImage{
    height: 100%;
    width: 50%;
    padding-right:5px;
    padding-top: 5px;
    background-color:transparent;
}

.navigationBar_{
    display:flex;
    justify-content:space-between;
    align-content:center;
    text-align:center;
    align-items:center;
    height: 10%;
    width: 100%;
    color: black;
    border-bottom:1px solid gray;
    background-color: #017979;
}
.addDrugButton, .sellButton{
    margin: 0px 10px;
    font-size: 15px;
    cursor: pointer;
    width:120px;
    padding:13px;
    text-decoration:none;
    color:black;
    border: 2px solid black;
    border-radius:10px;
    float:left;
    transition-duration: 0.4s;
    background-color: #7badad;
    text-align:center;
}
.sellButton:hover, .addDrugButton:hover, .searchButton:hover{
    color: black;
    background-color: #4c9392;
    border: 2px, solid rgba(0, 0, 0, 1);
}
.addDrugButton{
    margin: 0px 10px 0px 20px;
}
.searchForm_{

    margin-left: 10px;
    margin-right: auto;
    flex-shrink:0;

}
.paging{
    margin-top: 7px;
    font-family: monospace;
    font-size: 17px;
}
.logo{
    float: left;
    font-size: 38px;
    margin: 0px 10px 0px 21px;
    font-style: italic;
}