 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
}

 .drugstoreLoginContent {
     background-color: white;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
     width: fit-content;
}

 h1 {
     text-align: center;
}

 input {
     display:flex;
     margin:0 auto;
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid rgba(0, 0, 0, 0.33);
     border-radius: 6px;
}

 input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 1);
}

 button {
     padding: 10px;
     background-color: rgba(218, 216, 208, 0.5);
     border: none;
     border-radius: 6px;
     cursor: pointer;
     font-size: 16px;
}

 button:hover{
     background-color:rgba(218, 216, 208, 1);
}

.msg {
    padding-top: 10px;
    text-align: center;
}

.loginDiv {
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}