.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 80%;
    width: 100%;
}
.mainHref {
    border-radius: 10px;
    margin: 20px;
    width: 25%;
    height: 70%;
    background-color: black;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    background-size: 100%;
    background-position: center;
    transition: background-size 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 1);
    background-size: cover;
}

.mainHref .overlayText {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    border-radius: 10px;
}

.mainHref:hover .overlayText {
    opacity: 1;
    border-radius: 10px;
}

.mainHref:hover {
    background-size: 110%;
}

.content .mainHref:nth-child(1) {
    background-image: url("../img/stan.jpg");
    margin-left: 50px;
}

.content .mainHref:nth-child(2) {
    background-image: url("../img/magazyn.jpg");
}

.content .mainHref:nth-child(3) {
    background-image: url("../img/logi.png");
    margin-right: 50px;
}

