.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 80%;
    width: 100%;
}

.mainHref {
    margin: 20px;
    width: 25%;
    height: 40%;
    background-color: black;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

.mainHref img {
    display: block;
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.mainHref .overlayText {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.mainHref:hover .overlayText {
    opacity: 1;
}


.content .mainHref:nth-child(1) {
    background-image: url("../img/zul-menel.gif");
    background-size: cover;
    background-position: center;
}

.content .mainHref:nth-child(2) {
    background-image: url("../img/jonkler-jonkler-cart.gif");
    background-size: cover;
    background-position: center;
}

.content .mainHref:nth-child(3) {
    background-image: url("../img/killer-upset.gif");
    background-size: cover;
    background-position: center;
}

.content .mainHref:nth-child(4) {
    background-image: url("../img/rjumen-laugh-man.gif");
    background-size: cover;
    background-position: center;
}
