html,body{
    width: 100%;
    height:100%;
    margin:0;
    font-family: Roboto Mono, monospace;
    background-color: rgba(218, 216, 208, 1);
}

.navigationBar{
    display:flex;
    justify-content:end;
    align-content:center;
    text-align:center;
    align-items:center;
    height: 10%;
    width: 100%;
    color: black;
    border-bottom:1px solid gray;
}

.textLogo{
    height:70%;
    margin: auto auto auto 20px;
}

.employeeInfo{

    margin-right:20px;
    padding:0;
    float:right;
    font-size:15px;
}

.employeeText{
    float:left;
}


.infoIcon{
    margin-top:3px;
    width:40px;
    height:40px;
    margin-right:10px;
    float:left;
}

.logoutButton{

    margin: auto 20px auto 0px;
    width:150px;
    padding: 13px;
    float: right;
    transition-duration: 0.4s;
    text-decoration: none;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.logoutButton:hover{
    color: black;
    background-color: white;
    border: 2px, solid rgba(0, 0, 0, 1);
}
.returnButton{
    font-size: 15px;
    cursor: pointer;
    width:150px;
    margin: auto 10px auto 0px;
    padding:15px;
    text-decoration:none;
    color:black;
    border: 2px solid black;
    border-radius:10px;
    float:left;
    transition-duration: 0.4s;
    background-color: transparent;
    text-align:center;
}

.returnButton:hover{
    color: black;
    background-color: white;
    border: 2px, solid black;
}

.content{
    height: 80%;
    width: 100%;
    border-bottom:1px solid gray;

}

.stupka{
    height:auto;
    justify-content:center;
    text-align:center;
    color:gray;
}